@model int


@{
    ViewBag.Title = "NewHourIn";
}

<h2>Agregar horarios</h2>
<br />
<form action="NewHourIn" method="post">
    <label>Id de empleado:</label>
    <input type="number" name="id" value="@Model" readonly /><br />
    <label>Horario de entrada:</label>
    <input type="time" name="checkIn" required/><br />
    <label>Horario de salida</label>
    <input type="time" name="checkOut" />
    <button type="submit" class="button">OK</button> 
</form>
