 @model Services.Dtos.HorariosDto
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/myScript.js"></script>

@{
    ViewBag.Title = "NewHourIn";
}

<h2>Agregar horarios</h2>
<br />
<form action="NewHourIn" method="post">
    <input type="number" name="id" value="@Model.Id" hidden readonly /><br />
    <label>Id de empleado:</label>
    <input type="number" name="employeeId" value="@Model.EmployeeId" readonly /><br />
    <label>Día:</label>
    <input type="date" name="date" value="@Model.StartlHour.ToString("yyyy-MM-dd")" min="1970-01-01" required /><br />
    <label>Horario de entrada:</label>
    <input type="time" name="checkIn" id="hourIn" value="@Model.StartlHour.TimeOfDay" required/><br />
    <label>Horario de salida</label>
    <input type="time" name="checkOut"  id="hourOut"/>
    <button type="submit" id="btnSubmitTurn" class="button">OK</button> 
    <br />
    <span class="error label label-primary" id="hour_error"></span>
</form>
