@model Services.Dtos.EmployeeDto

@{
    ViewBag.Title = "Crear";
}


@if (Model != null && Model.Name != null)
{
    <h2 class="titlePage">Modificar nuevo empleado</h2>
}
else
{
    <h2 class="titlePage">Crear nuevo empleado</h2>
}


<div id="newEmployeeForm">
    <form action="Create" method="post">
        <label class="labelForm">Id</label><br />
        <input type="number" name="Id" value=@Model.Id readonly> <br />
        <label class="labelForm">Nombre:</label><br />
        <input type="text" name="Name" required /> <br />
        <label class="labelForm">Apellido:</label><br />
        <input type="text" name="Surname" required /> <br />
        <label class="labelForm">País:</label><br />

        <select name="CountryID" >
            <option selected hidden>Seleccione un país</option>
            @foreach(var item in ViewBag.Countries)
            {
                <option value=@item.CountryID>@item.Name</option>
            }
        </select>
        <br />
        <!--<input type="number" name="Country" required /> <br />-->

        <label class="labelForm">Fecha de Ingreso:</label><br />
        <input type="date" name="Date" /> <br /><br />
        <label class="labelForm">Precio por hora:</label><br />
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0" } })
        <label class="labelForm">Turno:</label><br />
        Mañana: <input type="radio" value="Morning" name="Turn" />
        Tarde: <input type="radio" value="Late"name="Turn" />
        Noche: <input type="radio" value="Night" name="Turn" /><br /><br />
        <button class="button" type="submit">Crear</button>
        <button class="button" type="reset">Limpiar</button>
        <button class="buttonCancel" type="button" onclick="location.href='@Url.Action("Employees", "Employee")'">Cancelar</button>
    </form>
</div>

