
@{
    ViewBag.Title = "Home";
}

<h2 class="titlePage">Trabajo Practico</h2>

<h4 class="titlePage">Número 3</h4>

<h5 class="titlePage">Lab .Net - Accenture</h5>


<p>
    <h3 class="h3 panel-heading alert-danger titlePage"> Equipo Rojo - Integrantes: </h3>
    <ul class="list-group">
        <li class="list-group-item active" >Delfina Caffa</li> 
        <br />
        <li class="list-group-item active">Gonzalo López</li> 
        <br />
        <li class="list-group-item active">Sebastián Azcárate</li> 
    </ul>
</p>